<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome to <%= title %></h2>
    <p>Docker: Love It Or Leave It?</p>
    <a href="/vote/yes"><img src="docker_yes.png" title="Love It"/></a><a href="/vote/no"><img src="docker_no.png" title="Leave It"/></a>
    <br>
    <h3>Love It <%= yes %>%</h3>
    <br>
    <h3>Leave It <%= no %>%</h3>
  </body>
</html>
